<div class="row">
    <div class="col-md-6 alert alert-success text-center">
        <h1>Thank You For Shopping With Us</h1>
        <p>You can check your orders from user profile</p>

    </div>
</div>