<div class="row">
    <div class="col-md-6 alert alert-success text-center">
        <h1>Your account has been created Successfully</h1>
        <p>You can now login to the application using your credentials to enjoy purchasing movies</p>

    </div>
</div>