@model OnlineTicketManagement.Models.Producer

@{
    ViewData["Title"]="Removal of Producers";
}
<div class="row">
    <div class=" col-md-6 offset-md-2">
  <div class="form-group">
    <label asp-for="ProfilePictureUrl"></label>
    <input type="text" class="form-control" asp-for="ProfilePictureUrl" id="exampleInputEmail1" aria-describedby="emailHelp" readonly>
  </div>
  <div class="form-group">
    <label asp-for="FullName"></label>
    <input type="text" class="form-control" asp-for="FullName" id="exampleInputPassword1" readonly>
  </div>
    <div class="form-group">
    <label asp-for="Bio"></label>
    <input type="text" class="form-control" asp-for="Bio" id="exampleInputPassword1" readonly>
  </div>
  <form asp-action="Delete">
      <div class="form-group">
          <input type="hidden" asp-for="Id" />
          <input type="submit" class="btn btn-danger text-white float-right" value="Delete" /> 
          <a class="btn btn-outline-info" asp-action="Index">Back</a>
      </div>
  </form>  

    </div>

</div>



@section Scripts{
    <script>
        $("#ProfilePictureUrl").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview')
            output.src = $(this).val();
        })
    </script>
}